services:
  frontend:
    build: .
    restart: unless-stopped
    ports:
      - 3000:3000
    environment:
      - NODE_ENV=production
    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--no-verbose',
          '--tries=1',
          '--spider',
          'http://0.0.0.0:3000/api/health || exit 1',
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
